@using System.ComponentModel.DataAnnotations
@using Undersoft.SDK.Proxies
@using Undersoft.SDK.Rubrics
@using Undersoft.SDK;
@using Undersoft.SDK.Service.Application.GUI.View.Abstraction

@inherits ViewItem

<GenericFieldMenuItem Id="@ViewId" @ref="@Reference" Style="height:auto">
    <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.End" HorizontalGap="0" VerticalGap="0">
      
        @if (_type.IsValueType && !_type.IsAssignableTo(typeof(Enum)))
        {
            @if (Index > 0)
            {
                <span slot="start">
                    <FluentSelect Width="85px" Items="@LinkOptions" @bind-Value="@_linkdValue" Disabled="@Rubric.Disabled" OptionText="@(i => i.Text)" OptionValue="@(i => i.Value)" OptionSelected="@(i => i.Selected)" />
                </span>
            }
            <span slot="start">
                <FluentSelect Width="140px" Items="@OperandOptions" @bind-Value="@_operandValue" Disabled="@Rubric.Disabled" OptionText="@(i => i.Text)" OptionValue="@(i => i.Value)" OptionSelected="@(i => i.Selected)" />
            </span>
        }
        <span>
            <GenericDataFilterField AutoFocus="@AutoFocus" ValueChanged="@OnValueChanged" Filter="@Filter" Rubric="@Rubric" />
        </span>
    </FluentStack>
</GenericFieldMenuItem>


