@typeparam TModel where TModel : class, IOrigin, IInnerProxy

<div>
    <!-- Footer -->
    <FluentDialogFooter>
        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="@VerticalAlignment" HorizontalAlignment="@HorizontalAlignment">
            @if (Dialog.Instance.Parameters.PrimaryActionEnabled)
            {
                <FluentButton Appearance="Appearance.Accent"
                              OnClick="@SaveAsync">
                    @Dialog.Instance.Parameters.PrimaryAction
                </FluentButton>
            }
            @if (Dialog.Instance.Parameters.SecondaryActionEnabled)
            {
                <FluentButton OnClick="@CancelAsync" Appearance="Appearance.Neutral">
                    @Dialog.Instance.Parameters.SecondaryAction
                </FluentButton>
            }
        </FluentStack>
    </FluentDialogFooter>
</div>

@code
{
    [CascadingParameter]
    public IViewData<TModel> Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    [CascadingParameter]
    public IViewItem Form { get; set; } = default!;

    [Parameter]
    public bool Validatable { get; set; } = true;

    [Parameter]
    public HorizontalAlignment HorizontalAlignment { get; set; } = HorizontalAlignment.Right;
    [Parameter]
    public VerticalAlignment VerticalAlignment { get; set; } = VerticalAlignment.Center;


    public async Task SaveAsync()
    {
        if (Content.Validator != null && Validatable)
        {
            var result = await Content.Validator.ValidateAsync();
            if (result.IsValid)
                await Dialog.CloseAsync(Content);
            else
                Form.RenderView();
        }
        else
            await Dialog.CloseAsync(Content);
    }

    private async Task CancelAsync(MouseEventArgs e)
    {
        await Dialog.CancelAsync();

    }
}