@using System.ComponentModel.DataAnnotations
@using FluentValidation
@using Undersoft.SDK.Proxies
@using Undersoft.SDK.Rubrics
@using Undersoft.SDK
@using Undersoft.SDK.Invoking


@inherits GenericDataStore<TStore, TDto, TModel>
@implements IGenericDataGrid
@typeparam TStore where TStore : IDataServiceStore
@typeparam TDto where TDto : class, IOrigin, IInnerProxy
@typeparam TModel where TModel : class, IOrigin, IInnerProxy

<div id="@BindingId" class="generic-datagrid">
    <CascadingValue Value="@DataStore">
        <CascadingValue Value="@Root">
            <CascadingValue Value="@EditMode">
                <CascadingValue Value="@EntryMode">
                    <CascadingValue Value="@FeatureFlags">
                        <CascadingValue Value="@Resizable">
                            <CascadingValue Value="@RubricOrdinalSeed">
                                <CascadingValue Value="@GridTemplateColumns">

                                    <GenericDataSearch Anchored="true" AnchorId="genericdatasearch" Parent="this"  VerticalPosition="VerticalPosition.Center" Position="HorizontalPosition.Left"/>

                                    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Bottom" Wrap="true">

                                        @if (ShowTitle)
                                        {
                                            <FluentLabel Typo="Typography.H2" Color="Color.Accent" Style="font-weight:200; padding:0px 0px 8px 8px">
                                                @Title
                                            </FluentLabel>
                                        }
                                        <FluentSpacer />

                                        <GenericDataGridPagination Parent="this" />

                                    </FluentStack>

                                    <div class="datagrid" tabindex="-1">

                                        <FluentDataGrid ShowHover="@ShowHover" RowClass="@ForRowClass" GenerateHeader=GenerateHeaderOption.None GridTemplateColumns="@GridTemplateColumns" TGridItem="string" role="grid">

                                            <GenericDataGridHeader Parent="@this" Resizable="@Resizable" />

                                            <GenericDataGridBody Parent="@this" Multiline="@Multiline" />

                                        </FluentDataGrid>
                                    
                                    </div>

                                </CascadingValue>
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>

    <GenericProgressRing View="this" />
</div>


