@typeparam TModel where TModel : class, IOrigin, IInnerProxy

<div>
    <!-- Header -->
    <FluentDialogHeader>
        <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" VerticalGap="20">
            <FluentMessageBarProvider Section="@ViewSection.DIALOG" MaxMessageCount="1" />
            <FluentStack Orientation="Orientation.Horizontal" VerticalGap="0" Style="text-align: right;">
                @if (Content.Logo != null)
                {
                    <a href="">
                        <FluentIcon Width="135px" Value="@Content.Logo" Color="Color.FillInverse" />
                    </a>
                }
                <FluentSpacer />
                @if (Content.Icon != null)
                {
                    <FluentIcon Value="@Content.Icon" />
                }
                <FluentLabel Typo="Typography.PaneHeader">
                    @Dialog.Instance.Parameters.Title
                </FluentLabel>
            </FluentStack>
            <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" VerticalGap="0">
                <FluentLabel Typo="Typography.Body">
                    @Content.Description
                </FluentLabel>
                <FluentLabel Typo="Typography.Body" Color="Color.Error">
                    @Content.Notes.Errors
                </FluentLabel>
                <FluentLabel Typo="Typography.Body" Color="Color.Success">
                    @Content.Notes.Success
                </FluentLabel>
                <FluentLabel Typo="Typography.Body" Color="Color.Neutral">
                    @Content.Notes.Info
                </FluentLabel>
            </FluentStack>
        </FluentStack>
    </FluentDialogHeader>
</div>

@code
{
    [CascadingParameter]
    public IViewItem Form { get; set; } = default!;

    [CascadingParameter]
    public IViewData<TModel> Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;
}
