@inherits ViewItem<TModel>

@typeparam TModel where TModel : class, IOrigin, IInnerProxy

<div>
    @if (ShowName)
    {
        <FluentProfileMenu FullName="@Name" Initials="@Initials" Image="@Image" ImageSize="@ImageSize" />
    }
    else
    {
        <FluentProfileMenu Initials="@Initials" Image="@Image" ImageSize="@ImageSize" />
    }
</div>
