@using System.ComponentModel.DataAnnotations
@using Undersoft.SDK.Proxies
@using Undersoft.SDK.Rubrics
@using Undersoft.SDK;
@using Undersoft.SDK.Service.Application.GUI.View.Abstraction

@inherits ViewItem

<FluentDataGridCell @onclick="OnCellClick" GridColumn=@_ordinal Class="@Rubric.Class" Style="@("padding:0px;" + Rubric.Style)" @key="@ViewId" TGridItem="string" title="@Rubric.RubricName" aria-label="@Rubric.RubricName">
    <div id="@($"{ViewId}-context-menu-{Rubric.RubricId}")" class="datagrid-body-item" role="button" style="height:100%">
        <FluentStack Orientation="Orientation.Horizontal" Wrap="true" HorizontalGap="0" VerticalGap="0" VerticalAlignment="VerticalAlignment.Center" Width="100%" Style="padding:0px 2px; height:100%; ">
            <GenericField Rubric="@Rubric" Width="100%" />
        </FluentStack>
    </div>
    <GenericMenu Position="HorizontalPosition.Right"
                 Trigger="MouseButton.Right"
                 VerticalPosition="VerticalPosition.Unset"
                 AnchorId="@($"{ViewId}-context-menu-{Rubric.RubricId}")"
                 Data="@OperationsData"
                 Anchored="false" 
                 @ref="Menu" />
</FluentDataGridCell>




