@using System.ComponentModel.DataAnnotations
@using Undersoft.SDK.Proxies
@using Undersoft.SDK.Rubrics
@using Undersoft.SDK;

@inherits ViewItem

<FluentWizardStep>
    <StepTemplate>
        <div active="@context.Active">
            @Data.Title
        </div>
    </StepTemplate>
    <ChildContent>
        @if (ShowTitle)
        {
            <FluentLabel Typo="Typography.Header">@Data.Title</FluentLabel>
        }
        <GenericFormItem Data="@Data" Rubric="@Rubric" />
    </ChildContent>
</FluentWizardStep>


@code
{
    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    [Parameter]
    public bool ShowTitle { get; set; } = false;


    protected override void OnInitialized()
    {
        Data.ViewItem = this;     
    }
}